* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

/*VARIABLES SCSS*/
/*BODY*/
.headerproductos {
  text-align: center;
  background-color: #ffc107;
  border-radius: 12px;
  padding: 0;
  margin: 0;
}

.center {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.productos {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.productos .grid-text {
  text-align: center;
}

/*PRUEBA LELE*/
/*
.dorka {
  display: flex;
  flex-direction: row;
  width: 100%;
}

nav {
  width: 65%;
}

.navbar-brand {
  margin: auto;
}

nav div {
  display: inline-flex;
}

div.header-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

header {
  font-size: 25px;
}

.dropdown button{
  font-size: 25px;
}

.nav-buttons {
  display: flex;
  justify-content: right;
}



/*HEADER ESTILOS*/
#menu, #menu-check {
  display: none;
}

@media only screen and (max-width: 992px) {
  header div.header {
    display: flex;
    place-content: space-between;
  }
  .log-bar {
    margin: 5px;
    display: flex;
    width: 40%;
  }
  .drop-responsive {
    display: block;
    text-align: end;
    justify-content: right;
    align-items: self-end;
  }
  #menu-check:not(:checked) ~ .nav {
    display: none;
  }
  #menu-check:checked ~ .nav {
    display: block;
  }
}
header {
  font-size: 25px;
}

.dropdown button {
  font-size: 25px;
}

.navbar-brand {
  font-size: 25px;
  margin-left: 40px;
  margin-right: 50px;
  color: #ffc107;
}

.carousel-item img {
  width: 100%;
}

/*FOOTER*/
.map-responsive {
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  height: 0;
}
.map-responsive .map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.link-white {
  color: #ffc107;
}

/*CONTACTO ESTILOS*/
.contacto-formulario {
  margin: auto;
  padding: 30px;
  background-color: #FFFFFF;
  margin-top: 15px;
  max-width: 1000px;
  box-shadow: 0px 0px 3px #000000;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 24px;
}
.contacto-formulario h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
  font-size: 32px;
}
.contacto-formulario h2:hover {
  background-color: #ffc107;
  border: 2px;
  border-radius: 40px #ffc107;
}
.contacto-formulario .texto-formulario {
  text-align: justify;
  margin-bottom: 40px;
}
.contacto-formulario input,
.contacto-formulario textarea {
  font-size: 20px;
  color: #000000;
  width: 100%;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
  padding: 15px;
}
.contacto-formulario textarea {
  min-height: 150px;
  max-height: 150px;
  max-width: 100%;
}
.contacto-formulario .botones {
  background: #000000;
  border-radius: 1px;
  border: 2px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
  padding: 15px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.contacto-formulario .botones:hover {
  cursor: pointer;
  background: #ffc107;
}
.contacto-formulario .parrafoscontacto {
  text-align: justify;
}
.contacto-formulario .contactoimg {
  width: 100%;
  box-shadow: 0px 0px 3px #000000;
  border: 2px;
  border-radius: 5px;
}

/*OUTLET y DESTACADOS*/
.placestart {
  place-content: flex-start;
}

section article {
  width: 100%;
}

#sortby {
  display: flex;
  justify-content: end;
  list-style: none;
}

.block-title {
  color: #ffc107;
}

.item {
  display: flex;
}

.preview a img {
  width: 100px;
}

a {
  text-decoration: none;
}
a span {
  color: #000000;
}

h3 a {
  color: #000000;
  font-size: 22px;
}

ul li a span {
  font-size: 20px;
}

.card-title {
  font-size: 26px;
  color: #ffc107;
}
.card-title:hover {
  color: #000000;
}

.card-text {
  font-size: 20px;
}

/*NOSOTROS*/
/*Formulario Trabaja con nosotros*/
#italic {
  color: #000000;
  background-color: #ffc107;
  font-size: 25px;
}

.hiringimg {
  width: 100%;
}

/*nuestras marcas*/
.text-marcas {
  text-align: center;
  font-size: 25px;
}
.text-marcas h2, .text-marcas h3, .text-marcas p {
  background-color: #ffc107;
  border: 2px;
  border-radius: 40px;
}

.text-marcs {
  width: 50%;
  margin: auto;
}

#modayaccesorios {
  background-color: #ffc107;
  color: #000000;
  border: 2px;
  border-radius: 10px;
}

.imgs-marcas {
  display: grid;
  width: 100%;
  gap: 40px;
}

.center {
  display: inline-block;
  text-align: center;
}

/*NUESTRA EMPRESA*/
.text-h1 {
  width: 50%;
  margin: auto;
  margin-top: 15px;
  background-color: #ffc107;
  border: 2px;
  border-radius: 40px;
  font-size: 36px;
}

div p {
  font-size: 24px;
}

/*# sourceMappingURL=style.css.map */
